.danger {
  color: red;
}

.highlighted {
  font-weight: bold;
}

.Cockpit button {
  background-color: green;
  color: white;
  cursor: pointer;
  padding: 10px;
}

.Cockpit button:hover {
  background-color: lightgreen;
  color: black;
}

.Cockpit button.danger {
  background-color: red;
  color: white;
}

.Cockpit button.danger:hover {
  background-color: salmon;
}